@font-face 
{ 
    font-family: "MyriadProRegular";
	src: url("/srcs/fonts/MyriadProRegular.ttf");
}


body
{
	font-family: "MyriadProRegular";
	margin: 0px;
	background-color: black;
	overflow-x: hidden;	
}

input[type~="text"], input[type~="password"], input[type~="select"], select
{
	font-family: "MyriadProRegular";
	font-weight: 400;
	font-size: 100%;
}

::-webkit-scrollbar
{
	width: 10px;
	height: 10px;
	background-color: rgba(0, 0, 0, 1);
}

::-webkit-scrollbar-track 
{
	margin: 60px 0 20px;
	background-color:  rgba(120,120,120,0.90);
	border-radius: 10px;
}

::-webkit-scrollbar-thumb 
{
	border-radius: 10px;
	background-color:  rgba(32,32,32,0.50);

}

#sidebar_background
{
	position: fixed;
	float: left;
	background-color: black;
	width: 8%;
	height: 100%;
	min-height: 600px;
	min-width: 70px;
}

#sidebar_wrapper
{
	position: absolute;
	margin-top: 10vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	flex-wrap: nowrap;
	height: 80vh;
	width: 100%;
}

.sidebar 
{
	display: flex;
	align-items: center;
	justify-content: space-around;
	/*border: 0.1px solid white;*/
	height: 7vw;
	max-height: 18%;
	width: 90%;
	/*border: px solid #c9914d;
	border-bottom: 2px solid #c9914d;
	border-top: 2px solid #c9914d;*/
	box-shadow: 0 0 10px 3px gray;
	border-radius: 2vmin; 
}

.sidebar img
{
	margin: 0 10%;
	object-fit: contain;
	width: 80%;
	height: 70%;
}

.side_menu
{
	position: fixed;
	display: flex;
	overflow-y: auto;
	justify-content: space-between;
	background-color: rgba(0, 0, 0, 0.95);
	border: 10px solid rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 10px 3px gray;
	border-radius: 20px;
	left: 10%;
	padding: 5px;
	color: white;
}

#filter_menu
{
	padding: 0 30px 10px;
	bottom: 5vh;
	height: 70vh;
	min-height: 300px;
	font-size: 125%;
	width: 420px;	
}

.filter_menu
{
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
	width: inherit;
}

.filter_menu div
{
	display: flex; justify-content: space-between;
}

#filter_menu form
{
	padding: 0 10px;
	width: 100%;
	height: 73%;
	overflow-y: auto;
	padding-bottom: 40px;
}

#genre_selector, #genre_selector option
{
	text-transform: capitalize;
}

#filter_menu button, #filter_menu input, #filter_menu select
{
	/*margin: 20px 0 0 240px;*/
	border-radius: 30px;
	border: none;
	font-size: 110%;
	padding: 0 10px;
	box-shadow: inset 0 0 3px 0 black;
	background-color: #c9914d;
	color: white;
	outline: none;
	height: 40px;
}

#filter_menu button
{
	position: absolute;
	right: 25px;
	bottom: 5px;
}

.from_to_title
{
	margin: 0 5px;
	top: 0;
}


#category_menu
{
	height: 90vh;
	top: 5vh;
	width: 410px;
}

#category_menu a
{
	color: gray;
	text-decoration: none;
}

#category_menu a:hover
{
	color: white;
}

#category_menu li
{
	text-transform: capitalize;
	list-style: none;
	margin-top: 5px;
	font-size: 125%; 
}

#category_menu p
{
	cursor: default;
	color: #c9914d;
	margin: 0;
	font-size: 150%;

}

#search_wrapper
{
	position: fixed;
	left: 11%;
	top: 5px;
	height: 4vh;
	min-height: 30px;
	width: 30vw;
}

#cart_button
{
	position: fixed;
	height: 60px;
	right: 100px;
	top: 5px;
}

#content_wrapper
{
	position: absolute;
	margin: 70px 0 0 10%;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	width: 85%;
	min-width: 700px;
}

.content
{
	display: flex;
	justify-content: space-between;
	overflow: auto;
	scrollbar-width: none;
	overflow-y: hidden;
	flex-wrap: nowrap;
	border-top: 2px solid #262626;
	/*border: 0.1px solid white;*/
	width: 100%;
	height: 220px;
	margin-bottom: 2%; 
	align-items: center;
	scroll-behavior: smooth;
}

.content h1
{
	position: absolute;
	color: white;
	align-self: baseline;
	margin-top: -3vmin;
	border-top: 0;
	border-left: 5px solid black;
	border-right: 8px solid black;
	background-color: black;
	text-transform: capitalize;
	border-radius: 60px;
}

.content::-webkit-scrollbar
{ 
    width : 0;
    height: 0;
}

.preview
{
	flex-shrink: 0;
	height: 92%;
	/*object-fit: contain;*/
	background-position: center;
	color: white;
	margin-top: 12px;
	width: 355px;
	margin-left: 10px;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
	border-radius: 5px;
}

.preview h2
{
	font-size: 170%;
	margin: 0;
	white-space: nowrap;
}

.poster_info
{
	opacity: 0;
	padding: 0 10px;
	margin-top: 140px;
}

.poster_info_params
{
	margin-top: -2px;
	display: flex; 
	align-items: center;
	width: 100%;
	color: white;
	justify-content: space-between;
}

.poster_info_params span
{
	font-size: 140%;
}

.preview:hover
{
	transition: 0.2s;
	box-shadow: inset 0 -60px 15px 0px black;
}

.preview:hover .poster_info 
{
	transition: 0.7s;
	opacity: 1;
}

.preview:hover .marquee_1
{
	animation: marquee_1 3s linear infinite;
}

.preview:hover .marquee_2
{
	animation: marquee_2 3s linear infinite;
}

@keyframes marquee_1 {
  0% { transform: translateX(0); }
  50% { transform: translateX(-30%); }
  100% { transform: translateX(0); }
}

@keyframes marquee_2 {
  0% { transform: translateX(0); }
  50% { transform: translateX(-60%); }
  100% { transform: translateX(0); }
}

/*.content img
{
	object-fit: contain;
	padding: 10px;
	margin-top: 12px;
	height:  90%;
}*/

.content button
{
	position: absolute;
	height: 60px;
	width: 60px;
	font-size: 40px;
	border: none;
	outline: none;
	color: #c9914d;
	border-radius: 30px;
    background-color:rgba(38,38,38,0.7);;
	justify-content: space-between;
}

.content button:active
{
	    background-color: rgba(64,64,64,0.7);
}