@font-face 
{ 
    font-family: "MyriadProRegular";
	src: url("/srcs/fonts/MyriadProRegular.ttf");
}

body
{
	font-family: "MyriadProRegular";
}

#wrapper
{
	box-shadow: 0 0 10px 3px white;
	margin: 0;
	color: white;
	padding: 10px 0;
	border-radius: 10px;
	background-color: rgba(38,38,38, 0.9);
	width: 430px;
	/*align-self:  center;*/
	/*justify-content: space-around;*/
}

#product_list
{
	max-height: 410px;
	overflow: auto;
	padding-right: 20px; 
}

::-webkit-scrollbar {
	width: 12px;
}
 
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
	border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

#table_form table
{
	margin-left: 10px;
	width: 410px;
}

th
{
	padding-bottom: 10px;
	border-bottom:  1px solid black;
	text-align: center;
	font-size: 145%;
	padding: 5px;
	/*border: 1px solid white;*/
}

td 
{
	height: 30px;
	text-align: center;
	border-top: 1px solid white;
	/*border: 1px solid white;*/
	padding: 5px;
}

#client_info
{
	display: flex;
	flex-direction: column;
	width: 300px;
	margin: 10px 20px;
}

#client_info input, #client_info textarea
{
	border-radius: 30px;
	border: none;
	font-size: 140%;
	padding: 0 10px;
	box-shadow: inset 0 0 3px 0 gray;
	background-color: rgba(0, 0, 0, 0.4);
	color: white;
	outline: none;
	font-family: "MyriadProRegular";
	height: 40px;
}

#client_info textarea
{
	padding: 15px;
	height: 80px;
	font-size: 140%;
	resize: none;
}

#close_button
{
	position: absolute;
	margin-left: 400px;
	/*right: 5px;*/
	/*top: 5px;*/
	color: white;
	border-radius: 30px;
	width: 20px;
	height: 20px;
	background-color: red;
	border: none;
	outline: none;
}


#buy_button
{
	position: absolute;
	margin-top: -50px;
	margin-left: 75%;
	background-color: green;
	border-radius: 7px;
	color: white;
	font-weight: bold;
	padding: 10px;
	border: none;
	/*box-shadow: 0 0 2px 2px white, inset 0 0 1px 1px white;*/
}

#buy_button:disabled
{
	background-color: #333333;
}
