#search_button img, #reset_search, #reset_search img
{
	height: 17px;
}
#reset_search{margin-left: -65px;}

#search_elem
{
	display: flex;
	align-items: center;
	margin-left: -45px;
}

#reset_search, #search_button
{
	cursor: pointer;
	border: none;
	outline: none;
	background-color: rgba(0,0,0,0);
}

#search_form, #search
{
	height: inherit;
	width: inherit;
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
}

#search
{
	height: 100%;
}

#search_field
{
	border-radius: 40px;
	height: inherit;
	width: inherit;
	background-color: rgba(0, 0, 0, 0.95);
	border:  solid #ffb65e ;
	color: white;
	outline: none;
	padding: 0 40px 0 15px; 
	font-size: 25px;
}

#result
{
	position: absolute;
	display: flex;
	top: 50px;
	flex-direction: column;
	border-radius: 20px;
	width: inherit;
	width: 30vw;
	max-height: 55vh;
	overflow-y: auto;
	padding: 10px;
	border: 5px solid rgba(0, 0, 0, 0.2);
	min-width: 350px;
	min-height: 100px;
	box-shadow: 0 0 10px 3px grey;
	background-color: rgba(0, 0, 0, 0.95);
}

.results img
{
	object-fit: contain;
	width: 95%;
	border-radius: 5px;
}

.results
{
	display: grid;
	grid-template-columns: 180px auto 70px;
	grid-template-rows: auto auto;
	grid-template-areas:
		"preview title title"
		"preview info price";
	color: white;
	cursor: pointer;
	padding: 10px;
	box-shadow: 0 -10px 1px -10px gray;
}

.results:hover
{
	background-color: rgba(200,200,200, 0.2);
	border-radius: 10px;
}

#result div:nth-child(1)
{
	box-shadow: none;
}

.results img
{
	grid-area: preview;
}

.search_title
{
	grid-area: title;
	font-size: 160%;
	vertical-align: middle;
}

.search_info
{
	margin-top: auto;
	color: gray;
	font-size: 130%;
	grid-area: info;
}

.search_price
{
	margin-top: auto;
	margin-left: 5px;
	color: #ffb65e;
	font-size: 130%;
	grid-area: price;
}

/*
.discription
{
	display: flex;
	flex-direction: column;
	width: 70%; 
	margin-left: 10px;
	font-size: 120%;
}


.discription ::nth-child(1)
{
	font-size: 120%;
	width: 100%
}

.discription_info
{
	display: flex;
	justify-content: space-between;
}

*/