#search_button, #reset_search, #reset_search img
{
	height: 17px;
}
#reset_search, #reset_search img {margin-left: -25px;}

#search_elem
{
	display: flex;
	align-items: center;
	margin-left: -45px;
}

#reset_search
{
	border: none;
	outline: none;
	background-color: rgba(0,0,0,0);
}

#search_form, #search
{
	height: inherit;
	width: inherit;
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
}

#search
{
	height: 100%;
}

#search_field
{
	border-radius: 40px;
	height: inherit;
	width: inherit;
	background-color: rgba(32,32,32,0.90);
	border:  solid #ffb65e ;
	color: white;
	outline: none;
	padding: 0 40px 0 15px; 
	font-size: 25px;
}
