@font-face 
{ 
    font-family: "MyriadProRegular";
	src: url("/srcs/fonts/MyriadProRegular.ttf");
}

body
{
    font-family: "MyriadProRegular";
	color: #4a8eb8;
	background-color: black;
	margin: 0;
}

::-webkit-scrollbar
{
	width: 10px;
	height: 10px;
	background-color: rgba(0, 0, 0, 1);
}

::-webkit-scrollbar-track 
{
	background-color:  rgba(120,120,120,0.90);
	border-radius: 10px;
}

::-webkit-scrollbar-thumb 
{
	border-radius: 10px;
	background-color:  rgba(32,32,32,0.50);

}

#poster
{
	z-index: -3;
	position: fixed;
	min-height: 100vh;
	min-width: 45%;
	width: 90vmin; 
	object-fit: contain;
	right: 0px;
	vertical-align: middle;

}	

#shadow
{
	min-width: 1000px;
	z-index: -2;
	position: fixed;
  	height: 100% ;
  	width: 100%;
  	box-shadow: inset 67vw 30px 87px -44px black, inset 900px 30px 87px 0 black;
}

#header_wrapper
{
	position: fixed;
	display: flex;
	z-index: 2;
	height: 150px;
	width: 57vw;
	min-width: 600px;
	overflow: hidden;
	font-size: 150%;
	min-height: 100px;
	align-items: center;
}

/*#header_wrapper:before
{
	z-index: -1;
	content: '';
	position: absolute; top: 0; left: 0;
	width: 110%;
	min-width: 650px;
	height: 100%;
	background-color: black;
	box-shadow: -10px 30px 30px 60px black;
}*/

#search_wrapper
{
	position: fixed;
	z-index: 2;
	right: 50px;
	top: 50px;
	opacity: 0.95;
	margin: 0 50px 0 70vw;
	width: 25vw;
	height: 40px;
}

@media screen and (max-width: 830px)
{
    
	#search_wrapper{ margin-top: 30px;}

}

#logo 
{
	font-size: 250%;
	width: 150px;
	margin: -10px 0 0 2%;
	color: #4a8eb8;
}

#logo a
{
	color: #4a8eb8;
}

#menu
{
	margin: auto;
}

#menu ul
{
	flex: 3;
	margin-right: auto;
}
#menu li
{
	font-size: 160%;
	margin-left: 30px;
	display: inline-block;
	list-style-type: none;
}

a{text-decoration:none;}

#menu a
{
	color: #4a8eb8
}

#name
{
	width: 54vw;
	height: 200px;
	position: fixed;
	flex-wrap: wrap-reverse;
	margin: 150px 0 0 20px;
	min-width: 750px;
	font-weight: bold;
	border-bottom:  10px solid black;
	background-color: black;
	box-shadow: 2vw 0 5px 5px black;
}

#name p
{
	color: #cfd1cd;
	padding-top: 	0.5%;
	margin: -5px 0 -20px 10px;
	font-size: 100%;

}

#title {font-size: 200%;}

#navibar
{
	display: flex;
	position: fixed;
	flex-direction: column;	
	margin-top: 230px;
	width: 200px;
	height: 65vh;
	overflow-y: auto;
}

.navibar
{
	margin-bottom:2vh;
	display: block;
	margin-left: 10px;
	padding: 20px 0 0 20px;
}

.navibar img
{
	object-fit: contain;
	width: 100%;
}

.navibar:hover,
.navibar:active
{
	border-left: 2px solid yellow;
}

#price button
{
	background-color: #ffb65e;
	border:none;
	color: white;
	padding: 10px 0;
	border-radius: 40px;
	width: 100px;
	margin: 4vh 0 0 40px;
	min-width: 120px;
	display: block;
	position: relative;
	outline: none;
	font-size: 170%;
}

#price button:disabled
{
	background-color: gray;
}

#price button:hover {background-color: #e9a656;}

#price button:active
{
	background-color: #e9a656;
	color: black;
}

.content
{
	position: fixed;
	margin:200px 0 300px calc(200px + (40px - 1vw));
	min-width: 300px;
	width: 40%;
	font-size: 160%;
	height: 70vh;
	padding: 10px 0;
	overflow: auto;
	/*border: 1px solid white;*/
}

@media screen and (max-width: 1300px)
{
	#result{margin-left: -50px}
}
@media screen and (max-height: 800px)
{
	#navibar, .content {height: 65vh;}
}

@media screen and (max-height: 700px)
{
	#navibar, .content {height: 57vh;}
}

@media screen and (max-height: 600px)
{
	#navibar, .content {height: 45vh;}
}

@media screen and (max-height: 400px)
{
	#navibar, .content {height: 28vh;}
}

@media screen and (max-width: 1000px)
{
	#result{margin-left: -130px}
	.content {width: 50%}
}


#info_block
{
	display: flex;
	padding-left: 50px; 
	font-size: 130%;
	
}

#right_info_block
{
	margin-left: 200px; 
}

#info_block p
{
	color: white;
	margin-top: 0px;
	margin-bottom: -8%;
}

#galleryImg
{
	display: flex;
	flex-shrink: 0;
	display: flex;
	align-items: center;
	height: 110px;
	width: 95%;
	margin: 0 auto;
	padding: 5px;
	overflow-x: auto;
}

.galleryImg
{
	overflow: hidden;
	height: 100%;
	margin: 0 auto;
	width: 32%;
	min-width: 150px;
	border-radius: 5px;
	box-shadow: 0 0 10px 2px gray;
	background-position: center;
	background-size: cover;
}

iframe
{
	height: 250px;
	margin: 0 0 0 10px; 
	object-fit: contain;
	box-shadow: 0 0 10px 2px gray;
	border-radius: 10px;
}
